#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  width: 300px;
}

.tag-html {
  background-color: red;
}

.tag-css {
  background-color: green;
}

.tag-javascript {
  background-color: yellow;
}

.tag-php {
  background-color: violet;
}